bleach==5.0.1
certifi==2022.6.15
charset-normalizer==2.1.0
idna==3.3
-e git+ssh://git@code.opennodecloud.com/waldur/python-waldur-client.git@2868bf9cc914c5aba7e4a64445d149d36264667d#egg=python_waldur_client
requests==2.28.1
requests-toolbelt==0.9.1
rt==3.0.3
six==1.16.0
urllib3==1.26.11
webencodings==0.5.1
